{% extends 'base/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="body-home">
    <img src="{% static 'img/landing.jpg' %}">
        <!-- Si no está logueado sale la sección de iniciar sesión, caso contarrio no -->
    {% if login_correcto %}

    {% else %}
        <div class="container border border-dark" id="formularioLogin">

            <form class="form-inline" name=form action="{% url 'usuarios:login' %}" method="post">
                <h4>UNCA GTF</h4>
                {% csrf_token %}
                <div class="form-group mx-sm-3">
                    <label for="usuario" class="sr-only">Usuario</label>
                    <input type="text" class="form-control" name="usuario" id="usuario">
                </div>
                <div class="form-group mx-sm-3">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div><br>
                <div class="botones-form">
                    <input type="submit" class="btn btn-primary" value="Acceder">
                    <!--<input onclick="login()" type="button" class="btn btn-primary" value="Acceder">-->
                </div>
                {% if mensaje %}
                    <div style="color: red; border:solid;" class="mt-2">{{mensaje}}</div>
                 {% endif %}
            </form>

        </div>
    {% endif %}

</div>
{% endblock %}


