{% extends 'base/base.html' %}

{% load static %}

{% block title %}Proyectos{% endblock %}

{% block content %}
  <div class="body-pages pt-3">
    <h1 class="textoPrincipal pt-3 text-center">Gestion de proyectos</h1>
    <div class="container p-6 border border-dark">
      <div class="row">
        <div class="col-sm-2 btn-group-vertical">
          <a href="{% url 'cstf:nuevo_proyecto' %}" class="btn bam">Nuevo Proyecto</a>
          <a href="#" class="btn bam">Modificar Proyecto</a>
          <a href="#" class="btn bam">Eliminar Proyecto</a>
        </div>
        <div class="col-sm-10 columna-tabla">
          <div class="table-responsive mt-3">
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Nombre del tribunal</th>
                  <th scope="col">Docente director</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">2023-11-20</th>
                  <td>Tribunal ejemplo 1</td>
                  <td>Perez Juan</td>
                  <td>Aprobado</td>
                </tr>
                <tr>
                  <th scope="row">2024-11-18</th>
                  <td>Tribunal ejemplo 2</td>
                  <td>Vargas Ana</td>
                  <td>Pendiente</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
