{% extends 'base/base.html' %}

{% load static %}

{% block title %}Proyectos{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/proyecto.css' %}">
{% endblock %}

{% block content %}
  <div class="body-pages pt-3">
    <h1 class="textoPrincipal pt-3 text-center">Detalle del Proyecto</h1>
    <div class="container p-6 border-dark">
      <div class="row">
        <div class="col-sm-12 columna-tabla">
          <div class="progresion">
              <div class="progress">
                {% if proyecto.proyecto_instancia.last.descripcion == 'COMISION DE SEGUIMIENTO' %}
                  <div class="progress-bar bg-success" style="width:25%">
                    En Comisión de Seguimiento
                  </div>
                {% elif proyecto.proyecto_instancia.last.descripcion == 'TRIBUNAL EVALUADOR' %}
                  <div class="progress-bar bg-success" style="width:50%">
                    En Tribunal Evaluador
                  </div>
                {% elif proyecto.proyecto_instancia.last.descripcion == 'DEFENSA TRABAJO FINAL' %}
                  <div class="progress-bar bg-success" style="width:75%">
                    Para Defensa
                  </div>
                {% elif proyecto.proyecto_instancia.last.descripcion == 'FINALIZADO'%}
                  <div class="progress-bar bg-success" style="width:100%">
                    Finalizado
                  </div>
                {% endif %}
              </div>
              </div>
          </div>
          <div class="table-responsive mt-3">
            <table class="table table-hover table-sm">
                <tr>
                    <th>ID</th>
                    <td>PTF-{{proyecto.id}}</td>
                </tr>
                <tr>
                    <th>Titulo</th>
                    <td>{{proyecto.titulo}}</td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td>{{proyecto.descripcion}}</td>
                </tr>
                <tr>
                    <th>Fecha de presentación</th>
                    <td>{{proyecto.fecha_presentacion|date:"d-m-Y"}}</td>
                </tr>
                <tr>
                    <th colspan="2" class="bg-warning seccion-tabla">Integrantes del Proyecto</th>
                </tr>
                {% for integrante in proyecto.proyecto_integrante.all%}
                <tr>
                    <th>Integrante</th>
                    <td>{{integrante.estudiante.nombre_completo}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="2" class="bg-warning seccion-tabla">Directores del Proyecto</th>
                </tr>
                {% for rol in proyecto.proyecto.all%}
                <tr>
                    <th>{{rol.descripcion}}</th>
                    <td>{{rol.docente.nombre_completo}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="2" class="bg-warning seccion-tabla">Asesor del Proyecto</th>
                </tr>
                {% for asesor in proyecto.asesor_proyecto.all%}
                <tr>
                    <th>Asesor</th>
                    <td>{{asesor.asesor.nombre_completo}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="bg-warning"></td>
                </tr>
                <tr>
                    <th>Archivo del Proyecto</th>
                    <td><a href="{{proyecto.nota_aceptacion.url}}">Ver documento</a></td>
                </tr>
                <tr>
                    <th>Certificado analítico</th>
                    <td><a href="{{proyecto.nota_aceptacion.url}}">Ver documento</a></td>
                </tr>
                <tr>
                    <th>Nota al Director</th>
                    <td><a href="{{proyecto.nota_aceptacion.url}}">Ver documento</a></td>
                </tr>
                {% if tribunal_true %}
                    {% for rol in proyecto.tribunal_proyecto.tribunal.all%}
                    <tr>
                        <th>{{rol.descripcion}}</th>
                        <td><a href="{ url 'persona:detalle_docente' rol.docente.id %">{{rol.docente.apellido}} {{rol.docente.nombre}}</a></td>
                    </tr>
                    {% endfor %}
                {% endif %}
                <tr>
                    <th>Estado Actual</th>
                    <td>{{proyecto.proyecto_instancia.last.descripcion}}</td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}