/*Formularios*/
.titulo-formulario{
    text-align: center;
    padding: 20px;
  }

#columnaForm, #columnaFormEstudiante{
    width: 50%;
    border-radius: 5px;
    background-color: lightcyan;
    padding: 20px;
  }

#formularioPF{
  background-color: lightcyan;
  border-radius: 5px;
}

   #formularioPF input[type=text] {
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  div.botones-form{
    text-align: center;
  }
  @media only screen and (max-width: 768px) {
    #columnaForm, #columnaFormEstudiante {
      width: 100%;
      border-radius: 0%;
    }
    #formularioPF .botones-form{
    text-align: center;
  }
  }