{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    {% if tipo_persona == "estudiante" %}
        Datos del Estudiante
    {% elif tipo_persona == "docente" %}
        Datos del Docente
    {% else %}
        Datos del Asesor
    {% endif %}
{% endblock %}

{% block content %}
<div class="body-pages">
    <div class="row d-flex justify-content-center">
        <div class="container titulo-formulario">
        <h1>
            {% if tipo_persona == "estudiante" %}
                Estudiante: {{persona.nombre_completo}}
            {% elif tipo_persona == "docente" %}
                Docente: {{persona.nombre_completo}}
            {% else %}
                Asesor: {{persona.nombre_completo}}
            {% endif %}
        </h1>
        </div>
        <div class="col-4" >
          <section class="container">
            <div class="container body1">
              <div class="card">
                <div class="card-header1">
                  Datos registrados
                </div>
                <div class="card-body">
                  <p><strong>Nombre: </strong>{{ persona.nombre }}</p>
                  <p><strong>Apellido: </strong>{{ persona.apellido }}</p>
                  <p><strong>CUIL: </strong>{{ persona.cuil }}</p>
                  <p><strong>Email: </strong>{{ persona.email }}</p>
                  <p><strong>Teléfono: </strong>{{ persona.telefono }}</p>
                  {% if tipo_persona == "estudiante" %}
                    <p><strong>Matricula: </strong>{{ persona.matricula }}</p>
                  {% elif tipo_persona == "asesor" %}
                    <p><strong>CV: </strong><a href="{{ persona.cv.url }}">Ver documento</a></p>
                  {% endif %}

                </div>
                <div class="card-footer">
                    {% if tipo_persona == "estudiante" %}
                        <a class="btn btn-outline-dark m-2" href="{% url 'persona:editar_estudiante' persona.id %}">Editar <i class="fas fa-edit"></i></a>
                    {% elif tipo_persona == "docente" %}
                        <a class="btn btn-outline-dark m-2" href="{% url 'persona:editar_docente' persona.id %}">Editar <i class="fas fa-edit"></i></a>
                    {% else %}
                        <a class="btn btn-outline-dark m-2" href="{% url 'persona:editar_asesor' persona.id %}">Editar <i class="fas fa-edit"></i></a>
                    {% endif %}
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
{% endblock %}