{% extends 'base/base.html' %}

{% load static %}

{% block title %}Comisión de Seguimiento de Trabajo Final-Listado de Proyectos{% endblock %}

{% block content %}
<h1 class=" textoPrincipal pt-3 text-center"> Comision de Seguimiento</h1>
  <div class="body-pages pt-3">
    <div class="container p-6 border border-dark">
      <div class="row">
        <div class="col-sm-2 btn-group-vertical">
          <a href="{% url 'gestion:nuevo_integrante' %}" class="btn bam">Nuevo Integrante Comision</a>
          <a href="#" class="btn bam">Modificar Integrante</a>
          <a href="#" class="btn bam">Eliminar Integrante</a>
        </div>
        <div class="col-sm-10 columna-tabla">
          <h4>Lista de Proyectos:</h4>
          <label for="opcionDespliegue">Listar por:</label>
          <select id="opcionDespliegue">
            <option value="E">Estado</option>
            <option value="F">Fechas</option>
          </select>
          <div class="table-responsive mt-3">
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">Registro</th>
                  <th scope="col">Presidente</th>
                  <th scope="col">Nombre del proyecto</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Perez Juan</td>
                  <td>Proyecto ejemplo 1</td>
                  <td>Aprobado</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Gimenez Luis</td>
                  <td>Proyecto ejemplo 2</td>
                  <td>Pendiente</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

