{% extends 'base/base.html' %}

{% load static %}

{% block title %}Gestión de Trabajos Finales-Registro CSTF{% endblock %}

{% block content %}
<div class="body-pages">
    <div class="container titulo-formulario">
    <h1> Registro de Integrantes de la CSTF </h1>
    </div>
      <section>
        <div class="container body1">
          <div class="card">
            <div class="card-header1">
              Ingrese los Datos Solicitados
            </div>
            <div class="card-body">
              <form action="#" method="post" class="row g-3" enctype="multipart/form-data">
                <div class="col-md-4">
                  <label for="cuilD" class="form-label">Cuil</label>
                  <input type="text" class="form-control" id="cuilD" placeholder="Ingrese Su CUIL sin Guiones" required onkeypress="return validacionDeTeclasNumericas(event);">
                </div>
                <div class="col-md-4">
                  <label for="nombreD" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombreD" placeholder="Laura" required onkeypress="return validacionDeTeclasLetras(event);">
                </div>
                <div class="col-md-4">
                  <label for="apellidoD" class="form-label">Apellido</label>
                  <input type="text" class="form-control" id="apellidoD" required onkeypress="return validacionDeTeclasLetras(event);">
                </div>
                <div class="col-md-6">
                  <label for="departamento" class="form-label">Departamento</label>
                  <input type="text" class="form-control" id="departamento" placeholder="Departamento" required onkeypress="return validacionDeTeclasLetras(event);">
                </div>
                <div class="col-md-6">
                  <label for="email" class="form-label">Correo Electronico</label>
                  <input type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com" required>
                </div>
                <div class="col-md-6">
                  <label for="fechaAlta" class="form-label">Fecha de Alta</label>
                  <input type="date" class="form-control" id="fechaAlta" required>
                </div>
                <div class="col-md-6">
                  <label for="fechaBaja" class="form-label">Fecha de Baja</label>
                  <input type="date" class="form-control" id="fechaBaja" required>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-outline-dark boton">Inscripcion</button>
                  <button type="reset" class="btn btn-outline-dark boton">Cancelar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
  </div>
{% endblock %}




