{% extends 'base/base.html' %}

{% load static %}

{% block title %}Nueva Comision{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/proyecto.css' %}">

{% endblock %}

{% block content %}
    <div class="body-pages" >
        <h1 class="textoPrincipal pt-3 text-center">Alta de Comisión de Seguimiento de Trabajos Finales (CSTF)</h1>
        <div class="container-fluid border-dark pt-3 mt-6">
            <form method="post" enctype="multipart/form-data">
                <div class="row d-flex justify-content-center">
                    <div class="col-5" >
                        <div class="container body1 pt-3">
                            <div class="card">
                                <div class="card-header1">
                                    Datos la nueva comisión
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <label for="{{ form_comision.descripcion.id_for_label }}" class="mt-1 mb-2 form-label">Descripcion:</label>
                                        {{form_comision.descripcion}}
                                        {{form_comision.descripcion.errors}}
                                    </div>
                                    <div class="col-md-12">
                                        <label for="{{ form_comision.resolucion.id_for_label }}" class="mt-1 mb-2 form-label">Resolucion:</label><br>
                                        {{form_comision.resolucion}}
                                        {{form_comision.resolucion.errors}}
                                    </div>
                                    <div class="col-md-12">
                                        <label for="{{ form_comision.departamento.id_for_label }}" class="mt-1 mb-2 form-label">Departamento:</label>
                                        {{form_comision.departamento}}
                                        {{form_comision.departamento.errors}}
                                    </div>
                                    <div class="col-md-12">
                                        <label for="integrantesSelecionados">Seleccione Integrante/s:</label><br>
                                        <select name="integrantesSelecionados" multiple>
                                        {% for docente in docentes %}
                                          <option value="{{ docente.id }}">{{ docente.dni }} - {{ docente.apellido }} {{ docente.nombre }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    {% csrf_token %}
                                    <input type="submit" value="Guardar" class="btn btn-outline-dark boton  mt-3">
                                    <a href="{% url 'gestion:comision'%}" class="btn btn-outline-dark boton  mt-3">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}




