{% extends 'base/base.html' %}

{% load static %}

{% block title %}Nuevo Proyecto{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/proyecto.css' %}">

{% endblock %}

{% block content %}
    <div class="body-pages" >
        <h1 class="textoPrincipal pt-3 text-center">Alta del Proyecto</h1>
        <div class="container-fluid border-dark pt-3 mt-6">
            <form method="post" id="formulario" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-6">
                        <div class="container body1 pt-3">
                            <div class="card">
                                <div class="card-header1">
                                    Datos Proyecto
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <label for="{{ form_proyecto.titulo.id_for_label }}" class="mt-1 mb-2 form-label">Titulo:</label>
                                        {{form_proyecto.titulo}}
                                        {{form_proyecto.titulo.errors}}
                                    </div>
                                    <div class="col-md-12">
                                        <label for="{{ form_proyecto.descripcion.id_for_label }}" class="mt-1 mb-2 form-label">Descripcion:</label><br>
                                        {{form_proyecto.descripcion}}
                                        {{form_proyecto.descripcion.errors}}
                                    </div>
                                    <div class="col-md-12">
                                        <label for="id_fecha_presentacion" class="mt-1 mb-2 form-label">Fecha de presentacion:</label>
                                        <input id="id_fecha_presentacion" type="date" name="proyecto-fecha_presentacion" class="form-control" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="{{ form_proyecto.proyecto_escrito.id_for_label }}" class="mt-1 mb-2 form-label">Archivo del Proyecto:</label>
                                        {{form_proyecto.proyecto_escrito}}
                                        {{form_proyecto.proyecto_escrito.errors}}
                                    </div>
                                    <div class="col-md-12">
                                        <label for="{{ form_proyecto.certificado_analitico.id_for_label }}" class="mt-1 mb-2 form-label">Certificado analítico:</label>
                                        {{form_proyecto.certificado_analitico}}
                                        {{form_proyecto.certificado_analitico.errors}}
                                    </div>
                                    <div class="col-md-12">
                                        <label for="{{ form_proyecto.nota_aceptacion.id_for_label }}" class="mt-1 mb-2 form-label">Nota al Director:</label>
                                        {{form_proyecto.nota_aceptacion}}
                                        {{form_proyecto.nota_aceptacion.errors}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" >
                        <div class="container body1 pt-3">
                            <div class="card">
                                <div class="card-header1">
                                    Datos Adicionales
                                </div>
                                <div class="card-body">
                                    <div class="row p-3">
                                        <div class="col-md-6"></div>
                                        <label for="integrantesSelecionados">Seleccione Alumno/s Integrante/s:</label>
                                        <div class="btn-buscar-reset">
                                            <input type="text" class="mt-2 mb-2" id="buscarEstudiante" placeholder="ingrese un nombre o cuil">
                                            <button type="button" class="mt-2 mb-2" onclick="ocultarOpciones();">Buscar</button>
                                            <button type="button" class="mt-2 mb-2" onclick="mostrarTodasLasOpciones();">Reset</button>
                                        </div>

                                        <select id="integrantesSelecionados" name="integrantesSelecionados" multiple>
                                        {% for estudiante in estudiantes %}
                                          <option value="{{ estudiante.id }}">{{ estudiante.matricula }} - {{ estudiante.apellido }} {{ estudiante.nombre }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-md-6"></div>
                                        <label for="director_seleccionado">Seleccione un Director de proyecto:</label>
                                        <select name="director_seleccionado">
                                        {% for docente in docentes %}
                                          <option value="{{ docente.id }}">{{ docente.dni }} - {{ docente.apellido }} {{ docente.nombre }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-md-6"></div>
                                        <label for="codirector_seleccionado">Seleccione un Co-director de proyecto:</label>
                                        <select name="codirector_seleccionado">
                                        {% for docente in docentes %}
                                          <option value="{{ docente.id }}">{{ docente.dni }} - {{ docente.apellido }} {{ docente.nombre }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-md-6"></div>
                                        <label for="asesor_seleccionado">Seleccione un Asesor de proyecto:</label>
                                        <select name="asesor_seleccionado">
                                        {% for asesor in asesores %}
                                          <option value="{{ asesor.id }}">{{ asesor.dni }} - {{ asesor.apellido }} {{ asesor.nombre }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-md-6"></div>
                                        <label for="comision_seleccionada">Seleccione una Comision de seguimiento de Trabajos Finales:</label>
                                        <select name="comision_seleccionada">
                                        {% for comision in comisiones %}
                                          <option value="{{ comision.id }}">{{ comision.descripcion }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    {% csrf_token %}
                                    <input type="submit" value="Guardar" class="btn btn-outline-dark boton  mt-3">
                                    <a href="{% url 'gestion:proyectos'%}" class="btn btn-outline-dark boton  mt-3">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block funciones %}
    <script src="{% static 'scripts/validarFecha.js' %}"></script>
    <script src="{% static 'scripts/proyectosJS.js' %}"></script>
{% endblock %}
