{% extends 'base/base.html' %}

{% load static %}

{% block title %}Proyectos{% endblock %}

{% block content %}
  <div class="body-pages pt-3">
    <h1 class="textoPrincipal pt-3 text-center">Gestion de proyectos</h1>
    <div class="container p-6 border border-dark">
      <div class="row">
        <div class="col-sm-2 btn-group-vertical">
          <a href="{% url 'gestion:nuevo_proyecto' %}" class="btn bam">Nuevo Proyecto</a>
          <a href="#" class="btn bam">Modificar Proyecto</a>
          <a href="#" class="btn bam">Eliminar Proyecto</a>
        </div>
        <div class="col-sm-10 columna-tabla">
          <div class="table-responsive mt-3">
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">Titulo</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Fecha de presentacion</th>
                  <th scope="col">Instancia Actual</th>
                </tr>
              </thead>
              <tbody>
              {% for proyecto in proyectos%}
                <tr>
                  <td><a href="{% url 'gestion:detalle_proyecto' proyecto.id %}">{{proyecto.titulo}}</a></td>
                  <td>{{proyecto.descripcion}}</td>
                  <td>{{proyecto.fecha_presentacion}}</td>
                  <td><a href="{% url 'gestion:movimientos' proyecto.id %}">{{ proyecto.proyecto_instancia.last.descripcion }}</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
