{% extends 'base/base.html' %}

{% load static %}

{% block title %}Editar Integrantes{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/proyecto.css' %}">

{% endblock %}

{% block content %}
    <div class="body-pages" >
        <h1 class="textoPrincipal pt-3 text-center">Editar Integrantes del Proyecto</h1>
        <div class="container-fluid border-dark pt-3 mt-6">
            <form method="post" id="formulario" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-6" >
                        <div class="container body1 pt-3">
                            <div class="card">
                                <div class="card-header1">
                                    Datos Adicionales
                                </div>
                                <div class="card-body">
                                    <div class="row p-3">
                                        <div class="col-md-6"></div>
                                        <label for="integrantesSelecionados">Seleccione Alumno/s Integrante/s:</label>
                                        <select name="integrantesSelecionados" multiple>
                                        {% for estudiante in estudiantes %}
                                            {% for seleccionado in estudiantes_selecionados %}
                                              <option value="{{ estudiante.id }}" {% if estudiante.id == seleccionado.estudiante.id %}selected{% endif %}>
                                                  {{ estudiante.matricula }} - {{ estudiante.apellido }} {{ estudiante.nombre }}
                                              </option>
                                            {% endfor %}
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-md-6"></div>
                                        <label for="director_seleccionado">Seleccione un Director de proyecto:</label>
                                        <select name="director_seleccionado">
                                        {% for docente in docentes %}
                                            <option value="{{ docente.id }}" {% if docente.id == director.id %}selected{% endif %}>
                                                {{ docente.dni }} - {{ docente.apellido }} {{ docente.nombre }}
                                            </option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-md-6"></div>
                                        <label for="codirector_seleccionado">Seleccione un Co-director de proyecto:</label>
                                        <select name="codirector_seleccionado">
                                        {% for docente in docentes %}
                                          <option value="{{ docente.id }}" {% if docente.id == codirector.id %}selected{% endif %}>
                                              {{ docente.dni }} - {{ docente.apellido }} {{ docente.nombre }}
                                          </option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-md-6"></div>
                                        <label for="asesor_seleccionado">Seleccione un Asesor de proyecto:</label>
                                        <select name="asesor_seleccionado">
                                        {% for asesor in asesores %}
                                          <option value="{{ asesor.id }}" {% if asesor.id == asesor_seleccionado.id %}selected{% endif %}>
                                              {{ asesor.dni }} - {{ asesor.apellido }} {{ asesor.nombre }}
                                          </option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-md-6"></div>
                                        <label for="comision_seleccionada">Seleccione una Comision de seguimiento de Trabajos Finales:</label>
                                        <select name="comision_seleccionada">
                                        {% for comision in comisiones %}
                                          <option value="{{ comision.id }}" {% if comision.id == comision_seleccionada.id %}selected{% endif %}>
                                              {{ comision.descripcion }}
                                          </option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    {% csrf_token %}
                                    <input type="submit" value="Guardar" class="btn btn-outline-dark boton  mt-3">
                                    <a href="{% url 'gestion:proyectos'%}" class="btn btn-outline-dark boton  mt-3">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}